body{
    background-color: rgb(233, 233, 240);
}
.tableLogin{
    margin-left: 30%;
    border:2px solid rgb(86, 77, 184);
    border-radius: 10px;
    border-spacing: 15px;
    padding: 20px;
    height: 200px;
}

.LoginCenter{
    padding: 20px;
    padding-right: 100px;
}

#outlined-basic{
    margin-left: 40px;
}
.LoginCenterHeading{
    color:rgb(141, 132, 235);
    margin-left: 45%;
    margin-top: 20px;
}
.LoginCenter Button{
    margin-left: 45%;
    margin-top: 20px;
}