body{
    background-color: rgb(233, 233, 240);
}
.tableSignUp{
    margin-left: 30%;
    border:2px solid rgb(86, 77, 184);
    border-radius: 10px;
    padding: 20px;
    border-spacing: 15px;
}

.createAccountCenter{
    padding: 20px;
    padding-right: 100px;
    
}

#outlined-basic{
    margin-left: 40px;
}
.createAccountHeading{
    color:rgb(141, 132, 235);
    margin-left: 40%;
    margin-top: 20px;
}
.createAccountCenter Button{
    margin-left: 45%;
    margin-top: 20px;
}